
@{
    ViewBag.Title = "Error1";
}

<h2>Error de Verificación de Número de Tarjeta</h2>
<div>
    <p>El número de tarjeta ingresado no es correcto o la tarjeta esta bloqueada.</p>
    <p></p>
   

</div>
<div></div>
<div></div>
<div>
    <p>Porfavor verifique que los datos son correctos, en caso de persistir el problema dirijase a su autoridad bancaria más cercana.</p>
</div>
<div>
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
</div>