
@{
    ViewBag.Title = "Extraccion";
}

<h2>Extraccion</h2>

@using (Html.BeginForm("ExtraerMonto", "Home", FormMethod.Post))
{
<form action="/ExtraerMonto" method="post">
    <input type="number" placeholder="Ingresar el Monto" name="MontoExtraido" id="TxTNumeroMonto" required />
    <div></div>
    <button type="submit">Aceptar</button>
    <input type="reset" value="Limpiar">
</form>
}

<div class="jumbotron" id="Salirdiv">
    @using (Html.BeginForm("Salir", "Home", FormMethod.Post))
    {
        <form action="/Salir" method="post">
            <button type="submit">Salir</button>
        </form>
    }
    @using (Html.BeginForm("Operaciones", "Home", FormMethod.Post))
    {
        <form action="/Operaciones" method="post">
            <button type="submit">Atras</button>
        </form>
    }
</div>